

  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  p.ex {
    text-align: center;
    color: rgb(0, 255, 55);
    
  }
  p.ex1 {
    text-align: center;
    color: rgb(0,0,255);
    
  }
  p.ex2 {
    text-align: center;
    color: rgb(255, 0, 0);
    
  }
